@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: Outfit, sans-serif;
}

html, body {
  max-width: 100%;
  overflow-x: hidden; 
  scroll-padding-top: 4.5rem;
}

*, *::before, *::after {
  box-sizing: border-box;
}

